.background {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background_image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.contentvalue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.back_input {
    box-sizing: border-box;
    width: 600px;
    height: 35px;
    background-color: rgba(220, 227, 234, 0.8);
    border: none;
    padding-left: 30px;
    border-radius: 5px;
}

.search_background {
    padding: 5px;
}

.contentR {
    display: none;
}

.searchIcon_container {
    display: flex;
}

.searchIconR {
    color: gray;
    position: absolute;
    height: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

@media screen and (max-width:420px) {
    .content {
        display: none;
    }

    .background {
        position: fixed;
    }

    .back_inputR {
        box-sizing: border-box;
        padding-left: 33px;
        width: 350px;
        height: 35px;
        border-radius: 5px;
    }

    .contentR {
        display: block;
        position: absolute;

    }

    .contentvalueR {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }

    .small_contentR {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .searchIconR {
        top: 111px;
        padding-left: 5px;
    }

}